.custom-button_header {
    width: 100%; /* Equivalent to `w-full` */
    padding: 0.625rem 1rem; /* Equivalent to `py-2.5` and `px-4` */
    display: flex; /* Equivalent to `flex` */
    align-items: center; /* Equivalent to `items-center` */
    justify-content: center; /* Equivalent to `justify-center` */
    gap: 0.5rem; /* Equivalent to `gap-2` */
    border-radius: 9999px; /* Equivalent to `rounded-full` */
    background-color: #8bb0e3; /* Equivalent to `bg-gray-600` */
    color: #ffffff; /* Equivalent to `text-white` */
    font-weight: 600; /* Equivalent to `font-semibold` */
    font-size: 0.75rem; /* Equivalent to `text-xs` */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Equivalent to `shadow-sm` */
    transition: all 0.5s; /* Equivalent to `transition-all duration-500` */
    border-color: #8bb0e3; /* Equivalent to `bg-gray-600` */
  }
  
  .custom-button_header:hover {
    background-color: #2e63f4; /* Equivalent to `hover:bg-black` */
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.2); /* Equivalent to `hover:shadow-indigo-200` */
  }
  .active{
    background-color: #245aa5;
  }
  .bg-gray-header {
    background-color: #f7f7f7; /* Example light gray color */
    border-radius: 50px;
    border-color: #dcdddf;
    border-width: 1px;
    border-style: solid;
  }